<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= styled_flash %>
  <%= render "common/error_messages", target: @property %>
  <%= form_for @property, url: enumeration_property_path(@property), html: { class: 'form-horizontal' } do |f| %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>Edit <%= arm_t('enumeration_property') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'property.model_name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @property.model.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'property.type' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @property.type_text, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'property.code' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.text_field :code, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'property.name' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
      </div>      
      <div class="block-divider-text"><%= arm_t('common_validation') %></div>
      <div class="block-content">
        <%= f.fields_for :common_validation, @property.common_validation do |field| %>
          <%= render 'common_validations/form', field: field %>
        <% end %>
      </div>
      <div class="block-footer">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
        <%= link_to 'Return', @property.model, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
  <div class="block block-condensed">
    <div class="app-heading app-heading-small">
      <div class="title">
        <h2><%= arm_t('enumeration_element') %> List</h2>
      </div>
    </div>
    <div class="block-content">
      <div class="dd" id="nestable-enumeration-element">
        <ol class="dd-list">
          <% @property.elements.order(:position).each do |enumeration_element| %>
          <li class="dd-item dd-item-extra" data-id="<%= enumeration_element.id %>">
            <div class="dd-handle dd-handle-extra">
              <i class="fa fa-circle text-danger margin-right-20"></i>
            </div>
            <div class="dd-content dd-content-extra">
              <%= enumeration_element.code %>
              ( <%= enumeration_element.name %> )
              <%= link_to '[Destroy]', enumeration_element, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-muted pull-right' %>
              <%= link_to '[Edit]', edit_enumeration_element_path(enumeration_element), class: 'text-muted pull-right margin-right-20' %>
            </div>
          </li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="block-footer">
      <%= link_to 'New', new_enumeration_property_enumeration_element_path(@property), class: 'btn btn-default' %>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function() {
      $("#nestable-enumeration-element").nestable().on('change', function() {
        sorted_ids = $('#nestable-enumeration-element').nestable('serialize').map(function(item, i) { return item.id }).join()
        $.ajax({
          url: '/enumeration_properties/<%= @property.id %>/enumeration_elements/sort',
          method: 'PATCH',
          data: { enumeration_element_ids: sorted_ids }
        });
      });
    });
  </script>
<% end %>
