<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= styled_flash %>
  <form class="form-horizontal">
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>View <%= arm_t('length_validation') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'length_validation.property' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @length_validation.property.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'length_validation.range' %></label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon">MIN</span>
              <%= text_field_tag nil, @length_validation.minimum, readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon">MAX</span>
              <%= text_field_tag nil, @length_validation.maximum, readonly: true, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= link_to 'Edit', edit_length_validation_path(@length_validation), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @length_validation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Return', @length_validation.property.model, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  </form>
</div>
