<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= styled_flash %>
  <form class="form-horizontal">
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>View <%= arm_t('exclusion_validation') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'exclusion_validation.property' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @exclusion_validation.property.en_name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'exclusion_validation.values' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @exclusion_validation.values.join(', '), readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= link_to 'Edit', edit_exclusion_validation_path(@exclusion_validation), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @exclusion_validation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Return', @exclusion_validation.property.model, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  </form>
</div>
