<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= render "common/error_messages", target: @trashable %>
  <%= form_for @trashable, html: { class: 'form-horizontal' } do |f| %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>Edit <%= arm_t('trashable') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'trashable.model_name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @trashable.model.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'trashable.default_without_trashed' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <div class="app-radio inline round">
              <label><%= f.radio_button :default_without_trashed, true, checked: true %> Yes</label>
            </div>
            <div class="app-radio inline round">
              <label><%= f.radio_button :default_without_trashed, false %> No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
        <%= link_to 'Return', @trashable.model, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>