<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>R Controller</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= render "common/error_messages", target: @regular_column %>
  <%= form_for [@table, @regular_column], html: { class: 'form-horizontal' } do |f| %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>New <%= arm_t('regular_column') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'regular_column.property' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.select :property_id, grouped_properties_for_table(@table), { prompt: '<Select>' }, class: 'form-control s2-select' %>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'Return', @table.listable, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
