<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>R Controllers</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= render "common/error_messages", target: @retrieve_collection %>
  <%= form_for [@resourceful_controller, @retrieve_collection], html: { class: 'form-horizontal' } do |f| %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>New <%= arm_t('retrieve_collection') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'retrieve_collection.resourceful_controller' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @resourceful_controller.model.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'retrieve_collection.type' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.select :type, RetrieveCollection.type.options, {}, class: 'form-control s2-select' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'retrieve_collection.action_name' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.text_field :action_name, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'Return', @resourceful_controller, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
