<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Resourceful Controller</h1>
    <p><%= @page_metadata %></p>
  </div>
  <div class="heading-elements">
    <%= link_to 'New', new_resourceful_controller_path, class: 'btn btn-default' %>
  </div>
</div>
<div class="container">
  <div class="block block-condensed">
    <div class="app-heading">
      <div class="title">
        <h2><%= arm_t('resourceful_controller') %> List</h2>
      </div>
    </div>
    <% if @resourceful_controllers.present? %>
    <div class="table-responsive">
      <table class="table table-head-light margin-bottom-0">
        <thead>
          <tr>
            <th><%= ara_t 'resourceful_controller.namespace' %></th>
            <th><%= ara_t 'resourceful_controller.model' %></th>
            <th><%= ara_t 'resourceful_controller.type' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @resourceful_controllers.each do |resourceful_controller| %>
          <tr>
            <td><%= resourceful_controller.namespace.name %></td>
            <td><%= resourceful_controller.model.name %></td>
            <td><%= arm_t(resourceful_controller.model_name.human) %></td>
            <td class="actions">
              <%= link_to raw('<i class="fa fa-file-text-o"></i>'), resourceful_controller_path(resourceful_controller), class: 'btn btn-default btn-icon' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
