<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= styled_flash %>
  <form class="form-horizontal">
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>View <%= arm_t('table') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'table.include_sequence_number' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, boolean_formatter(@table.include_sequence_number?), readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= link_to 'Edit', edit_table_path(@table), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @table, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Return', view_logic_path(@table.view_logic), class: 'btn btn-default pull-right' %>
      </div>
    </div>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2><%= arm_t('table') %> <%= ara_t('table.abilities') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'table.pagination' %></label>
          <div class="col-sm-6">
            <div class="input-group">
              <%= text_field_tag nil, boolean_formatter(@table.pagination.present?), readonly: true, class: 'form-control' %>
              <span class="input-group-btn">
                <% if @table.pagination.present? %>
                <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_table_pagination_path(@table.pagination), class: 'btn btn-default' %>
                <%= link_to raw('<i class="fa fa-times"></i>'), @table.pagination, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
                <% else %>
                <%= link_to raw('<i class="fa fa-plus"></i>'), new_table_table_pagination_path(@table), class: 'btn btn-default' %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2><%= arm_t('table_column') %> List</h2>
        </div>
      </div>
      <% if @table.columns.present? %>
      <div class="table-responsive">
        <table class="table table-head-light margin-bottom-0">
          <thead>
            <tr>
              <th><%= ara_t 'table_column.columnable' %></th>
              <th><%= ara_t 'table_column.name' %></th>
              <th><%= ara_t 'table_column.localized_name' %></th>
              <th><%= ara_t 'table_column.formatter' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @table.columns.each do |table_column| %>
            <tr>
              <td><%= table_column.columnable.model.name %>#<%= table_column.columnable.name %></td>
              <td><%= alternative(table_column.name, table_column.columnable.name) %></td>
              <td><%= alternative(table_column.localized_name, table_column.columnable.localized_name) %></td>
              <td><%= alternative(table_column.formatter_text, 'N/A') %></td>
              <td class="actions">
                <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_table_column_path(table_column), class: 'btn btn-default btn-icon' %>
                <%= link_to raw('<i class="fa fa-times"></i>'), table_column, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-icon' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
      <div class="block-footer">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-default">New</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Property Column', new_table_table_column_path(@table, type: :property) %></li>
            <li><%= link_to 'Presenter Column', new_table_table_column_path(@table, type: :presenter) %></li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
