<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>R Controllers</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= render "common/error_messages", target: @state_transition %>
  <%= form_for [@resourceful_controller, @state_transition], html: { class: 'form-horizontal' } do |f| %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>New <%= arm_t('state_transition') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'state_transition.resourceful_controller' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @resourceful_controller.model.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'state_transition.type' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.select :type, StateTransition.type.options, {}, class: 'form-control s2-select' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'state_transition.state_machine_event' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.collection_select :state_machine_event_id, @resourceful_controller.model.state_machine.events, :id, :code, {}, class: 'form-control s2-select' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'state_transition.action_code' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.text_field :action_code, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'state_transition.action_method' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <div class="app-radio inline round">
              <label><%= f.radio_button :action_method, :put %> PUT</label>
            </div>
            <div class="app-radio inline round">
              <label><%= f.radio_button :action_method, :patch %> PATCH</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'state_transition.confirmable' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <div class="app-radio inline round">
              <label><%= f.radio_button :confirmable, true %> Yes</label>
            </div>
            <div class="app-radio inline round">
              <label><%= f.radio_button :confirmable, false %> No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'Return', @resourceful_controller, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
