<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Namespaces</h1>
    <p><%= @page_metadata %></p>
  </div>
  <div class="heading-elements">
    <%= link_to 'New', new_namespace_path, class: 'btn btn-default' %>
  </div>
</div>
<div class="container">
  <div class="block block-condensed">
    <div class="app-heading">
      <div class="title">
        <h2><%= arm_t('namespace') %> List</h2>
      </div>
    </div>
    <% if @namespaces.present? %>
    <div class="table-responsive">
      <table class="table table-head-light margin-bottom-0">
        <thead>
          <tr>
            <th><%= ara_t 'namespace.authenticator' %></th>
            <th><%= ara_t 'namespace.name' %></th>
            <th><%= ara_t 'namespace.module' %></th>
            <th><%= ara_t 'namespace.path' %></th>
            <th><%= ara_t 'namespace.theme' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @namespaces.each do |namespace| %>
          <tr>
            <td><%= namespace.authenticator.name %></td>
            <td><%= namespace.name %></td>
            <td><%= namespace.module %></td>
            <td><%= namespace.path %></td>
            <td><%= namespace.theme_text %></td>
            <td class="actions">
              <%= link_to raw('<i class="fa fa-file-text-o"></i>'), namespace_path(namespace, from: 'destination'), class: 'btn btn-default btn-icon' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
