<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= render "common/error_messages", target: @cascade %>
  <%= form_for [@model, @cascade], url: create_as_destination_model_cascades_path(@model, @cascade), html: { class: 'form-horizontal' } do |f| %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>New <%= arm_t('cascade') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.source' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.collection_select :source_id, Model.where.not(id: @model.id), :id, :en_name, {}, class: 'form-control s2-select' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.source_alias' %></label>
          <div class="col-sm-6">
            <%= f.text_field :source_alias, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.destination' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @model.en_name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.destination_alias' %></label>
          <div class="col-sm-6">
            <%= f.text_field :destination_alias, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.type' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <div class="app-radio inline round">
              <label><%= f.radio_button :type, :has_one %> Has one</label>
            </div>
            <div class="app-radio inline round">
              <label><%= f.radio_button :type, :has_many, checked: (@cascade.new_record? or @cascade.type_has_many?) %> Has many</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.optional' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <div class="app-radio inline round">
              <label><%= f.radio_button :optional, true %> Yes</label>
            </div>
            <div class="app-radio inline round">
              <label><%= f.radio_button :optional, false, checked: (@cascade.new_record? or !@cascade.optional?) %> No</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.action_when_owner_destroyed' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.select :action_when_owner_destroyed, Cascade.action_when_owner_destroyed.options, {}, class: 'form-control s2-select' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'cascade.action_when_child_destroyed' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <%= f.select :action_when_child_destroyed, Cascade.action_when_child_destroyed.options, {}, class: 'form-control s2-select' %>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'Return', @cascade.destination, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
