<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= styled_flash %>
  <form class="form-horizontal">
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>View <%= arm_t('form') %></h2>
        </div>
      </div>
      <div class="block-footer">
        <%= link_to 'Edit', edit_form_path(@form), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @form, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Return', view_logic_path(@form.view_logic), class: 'btn btn-default pull-right' %>
      </div>
    </div>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2><%= arm_t('form_group') %> List</h2>
        </div>
      </div>
      <% if @form.groups.present? %>
      <div class="table-responsive">
        <table class="table table-head-light margin-bottom-0">
          <thead>
            <tr>
              <th>#</th>
              <th><%= ara_t 'form_group.type' %></th>
              <th><%= ara_t 'form_group.property' %></th>
              <th><%= ara_t 'form_group.name' %></th>
              <th><%= ara_t 'form_group.localized_name' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @form.groups.each_with_index do |form_group, i| %>
            <tr>
              <td>#<%= i + 1 %></td>
              <td><%= arm_t(form_group.model_name.human) %></td>
              <td><%= form_group.property.model.name %>#<%= form_group.property.name %></td>
              <td><%= alternative(form_group.name, form_group.property.name) %></td>
              <td><%= alternative(form_group.localized_name, form_group.property.localized_name) %></td>
              <td class="actions">
                <% case form_group %>
                <% when TextField %>
                <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_text_field_path(form_group), class: 'btn btn-default btn-icon' %>
                <% end %>
                <%= link_to raw('<i class="fa fa-times"></i>'), form_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-icon' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
      <div class="block-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-default">New</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu ">
            <li><%= link_to 'Text Field', new_form_text_field_path(@form) %></li>
            <li><%= link_to 'Select', new_form_select_path(@form) %></li>
            <li><%= link_to 'Text Area', new_form_text_area_path(@form) %></li>
            <li><%= link_to 'Radio Button', new_form_radio_button_path(@form) %></li>
            <li><%= link_to 'Checkbox', new_form_checkbox_path(@form) %></li>
            <li><%= link_to 'Date', '' %></li>
            <li><%= link_to 'Time', '' %></li>
            <li><%= link_to 'Datetime', '' %></li>
            <li><%= link_to 'File Field', '' %></li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
