<div class="app-heading app-heading-bordered app-heading-page">
  <div class="title">
    <h1>Models</h1>
    <p><%= @page_metadata %></p>
  </div>
</div>
<div class="container">
  <%= render "common/error_messages", target: @table_column %>
  <%= form_for [@table, @table_column], html: { class: 'form-horizontal' } do |f| %>
    <%= hidden_field_tag :type, params[:type] %>
    <div class="block block-condensed">
      <div class="app-heading app-heading-small">
        <div class="title">
          <h2>New <%= arm_t('table_column') %></h2>
        </div>
      </div>
      <div class="block-content">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'table_column.property' %> <span class="required">*</span></label>
          <div class="col-sm-6">
            <% case params[:type] %>
            <% when 'property' %>
            <%= f.select :columnable_id, grouped_properties_of_model_with_cascades_options(@table.view_logic.model), { prompt: '<Select Property>' }, class: 'form-control s2-select' %>
            <% when 'presenter' %>
            <%= f.select :columnable_id, grouped_presenters_of_model_with_cascades_options(@table.view_logic.model), { prompt: '<Select Presenter>' }, class: 'form-control s2-select' %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'table_column.name' %></label>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'table_column.localized_name' %></label>
          <div class="col-sm-6">
            <%= f.text_field :localized_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= ara_t 'table_column.formatter' %></label>
          <div class="col-sm-6">
            <%= f.select :formatter, FormatterEnumerations.formatter.options, { prompt: '<Don\'t use>' }, class: 'form-control s2-select' %>
          </div>
        </div>
      </div>
      <div class="block-footer">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'Return', @table, class: 'pull-right btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
